{% load static %}
<html> 
    <head> 
        <title>Hinchadas</title>
        <link rel="stylesheet" href="{% static 'blog/estilos.css' %}">
    </head> 
    <body> 
        <div>
            <h1>Hinchadas del futbol argentino</h1>
        </div>
        {% for publicacion in publicaciones %}
        <div>
            <h2>{{ publicacion.titulo }}</h2>
            <img src="{{ publicacion.imagen }}" alt="Imagen" width="200">
            <p><strong>Introducción:</strong> {{ publicacion.introduccion }}</p>
            <p><strong>Historia:</strong> {{ publicacion.historia }}</p>
            <p><strong>Actualidad:</strong> {{ publicacion.actualidad }}</p>
            <p><strong>Socios:</strong> {{ publicacion.socios }}</p>
            <p><strong>Puntaje:</strong> {{ publicacion.puntaje }}</p>
            <hr>
        </div>
        {% endfor %}
    </body> 
</html>